html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto Mono', sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
p,
ul,
td,
tr {
  margin: 0;
  padding: 0;
  list-style: none;
}

img,
svg {
  display: block;
  height: auto;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
	width: 100%;
	max-width: 1440px;
	padding: 0 32px 0 32px;
	margin: 48px auto;
}